:local(.FirstHomeSection) {
  .intro {
    background-image: url("img/front-image-one.jpeg");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
  }

  section, .intro {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #247BA0;
    height: 100vh;


  }

  content p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
  }

}