:local(.SearchResults){
  .searchBar {
    width: 100%;
    padding: 1% 3%;
    display: table;
    margin: 0;
    max-width: none;
    height: 10vh;
    color: white;
    background-color: #247BA0;
    padding-bottom: 0px;
  }
}